<phpunit
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="true"
        failOnWarning="true">

    <testsuites>
        <testsuite name="OtusHomework">
            <file>tests/HomeworkOneTest.php</file>
            <file>tests/HomeworkTwoTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
